<header class="header-container">
    
    <div class="header-tab w-100 d-flex justify-content-between align-items-center">

        <!--SECCION LOGO-->
        <div class="header-tab-logo d-flex align-items-center cursor-pointer">
            <div class="container-img">
                <img src="./assets/img/logo1.png" class="mr-20 flex-grow-1">
            </div>
            <div class="header-tab-info">
                <h2 class="h2 txt-gray-1 letter-spacing-10">SNEAK</h1>
                <label class="label-small txt-light-blue-1 letter-spacing-5">CREATIVE PORTFOLIO</label>
            </div>    
        </div>

        <!--SECCION MENU-->
        <div class="header-tab-menu-container d-flex align-items-center justify-content-end flex-grow-1">
            
            <input type="checkbox" id="nav__checkbox" class="nav__checkbox">
            <label for="nav__checkbox" class="nav__toggle">
                <div class="hamburger">
                    <i class="fa-solid fa-bars-staggered fz-27"></i>
                </div>
                <div class="close">
                    <i class="fa-solid fa-xmark fz-27 close"></i>
                </div>
                <!--<img src="https://img.icons8.com/material-outlined/30/000000/menu--v1.png" class="hamburger" />
                <img src="https://img.icons8.com/plumpy/30/000000/x.png" class="close" />-->
            </label>
            
            <div class="s-menu-options-container">
                <ul class="s-menu-options" id="menu-header">
                    <li class="s-menu-item">
                        <a href="#gallery">
                            <label class="h3-questrial">All</label>
                        </a>
                    </li>
                    <li class="s-menu-item">
                        <a href="#gallery" >
                            <label class="h3-questrial">Branding</label>
                        </a>
                    </li>
                    <li class="s-menu-item">
                        <a href="#gallery" >
                            <label class="h3-questrial">Web</label>
                        </a>
                    </li>
                    <li class="s-menu-item">
                        <a href="#gallery" >
                            <label class="h3-questrial">Photography</label>
                        </a>
                    </li>                
                    <li class="s-menu-item">
                        <a href="#gallery" >
                            <label class="h3-questrial">App</label>
                        </a>
                    </li>
                    <li class="s-menu-item no-hover">
                        <div class="s-group">
                            <input class="s-input " ctcType="outline" placeholder="Search" id="input">
                        </div>
                        <label for="input" title="Search" class="s-button s-button--primary s-button--icon fz-27 p-0" >
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </label>
                    </li>                
                                                    
                </ul>
    
            </div>            

        </div>

    </div>

    <div class="header-main px-16">

        <h1 class="h1 txt-white letter-spacing-20 text-center mb-32">
            EXPLORE BEYOND HORIZON
        </h1>
        <label class="label txt-white text-center letter-spacing-5 mb-50 max-w-720">
           Magna mundi referrentur quo, no reburn dignissim qui.
           Per quodsi accusala id, agam labores
        </label>
        <button class="s-button s-button--white s-button--padding max-w-200" onclick="navigate()">
            VIEW OUR WORK
        </button>
    </div>

</header>